<a href="https://colab.research.google.com/github/paridaabhishek/Alpacatrade/blob/master/Alpeca_readWebSocket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from datetime import datetime

In [18]:
df = pd.read_csv('/content/drive/MyDrive/AAPL.csv',skiprows=3,index_col=False)

df.columns

Index(['b', 'AAPL', '172.9', '172.83', '172.93', '172.73', '139404',
       '2022-01-31T16:18:00Z', '1535', '172.824783'],
      dtype='object')

In [19]:
df.columns =['Message Type', 
             'Symbol', 
             'Open', 
             'Close',
             'High',
             'Low',
             'Volume',
             'TimeStamp',
             'n',
             'vw']

In [31]:
df

    Message Type Symbol    Open  ...             TimeStamp     n          vw
0              b   AAPL  172.82  ...  2022-01-31T16:19:00Z  1615  172.819059
1              b   AAPL  172.82  ...  2022-01-31T16:20:00Z  1987  172.887658
2              b   AAPL  172.82  ...  2022-01-31T16:20:00Z  1988  172.887658
3              b   AAPL  172.85  ...  2022-01-31T16:21:00Z  1756  172.895073
4              b   AAPL  172.79  ...  2022-01-31T16:22:00Z  2706  172.613082
..           ...    ...     ...  ...                   ...   ...         ...
412            b   AAPL  174.33  ...  2022-01-31T21:56:00Z    30  174.318900
413            b   AAPL  174.34  ...  2022-01-31T21:57:00Z    47  174.335862
414            b   AAPL  174.35  ...  2022-01-31T21:59:00Z    24  174.336806
415            b   AAPL  174.35  ...  2022-01-31T22:00:00Z    22  174.350094
416            b   AAPL  174.32  ...  2022-01-31T22:03:00Z    35  174.320606

[417 rows x 10 columns]

In [26]:
df_unique=df.drop_duplicates(subset=['TimeStamp']).copy()

In [27]:
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341 entries, 0 to 416
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Message Type  341 non-null    object
 1   Symbol        341 non-null    object
 2   Open          341 non-null    float64
 3   Close         341 non-null    float64
 4   High          341 non-null    float64
 5   Low           341 non-null    float64
 6   Volume        341 non-null    int64
 7   TimeStamp     341 non-null    object
 8   n             341 non-null    int64
 9   vw            341 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 29.3+ KB

In [84]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [17]:
df.loc[1,'TimeStamp'] = 'AA'

In [28]:
df_unique.loc[:,'TimeStamp'] = 'AA'

In [29]:
df_unique.count()

Message Type    341
Symbol          341
Open            341
Close           341
High            341
Low             341
Volume          341
TimeStamp       341
n               341
vw              341
dtype: int64

In [89]:
df_unique.tail()

    Message Type Symbol    Open  ...           TimeStamp   n          vw
412            b   AAPL  174.33  ... 2022-01-31 21:56:00  30  174.318900
413            b   AAPL  174.34  ... 2022-01-31 21:57:00  47  174.335862
414            b   AAPL  174.35  ... 2022-01-31 21:59:00  24  174.336806
415            b   AAPL  174.35  ... 2022-01-31 22:00:00  22  174.350094
416            b   AAPL  174.32  ... 2022-01-31 22:03:00  35  174.320606

[5 rows x 10 columns]