<a href="https://colab.research.google.com/github/paridaabhishek/Alpacatrade/blob/master/Alpeca_readWebSocket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
import pandas as pd
from datetime import datetime

In [52]:
df = pd.read_csv('/content/drive/MyDrive/AAPL.csv',skiprows=3,index_col=False)

df.columns

Index(['b', 'AAPL', '172.9', '172.83', '172.93', '172.73', '139404',
       '2022-01-31T16:18:00Z', '1535', '172.824783'],
      dtype='object')

In [56]:
df.columns =['Message Type', 
             'Symbol', 
             'Open', 
             'Close',
             'High',
             'Low',
             'Volume',
             'TimeStamp',
             'n',
             'vw']

In [57]:
df

    Message Type Symbol    Open  ...             TimeStamp     n          vw
0              b   AAPL  172.82  ...  2022-01-31T16:19:00Z  1615  172.819059
1              b   AAPL  172.82  ...  2022-01-31T16:20:00Z  1987  172.887658
2              b   AAPL  172.82  ...  2022-01-31T16:20:00Z  1988  172.887658
3              b   AAPL  172.85  ...  2022-01-31T16:21:00Z  1756  172.895073
4              b   AAPL  172.79  ...  2022-01-31T16:22:00Z  2706  172.613082
..           ...    ...     ...  ...                   ...   ...         ...
412            b   AAPL  174.33  ...  2022-01-31T21:56:00Z    30  174.318900
413            b   AAPL  174.34  ...  2022-01-31T21:57:00Z    47  174.335862
414            b   AAPL  174.35  ...  2022-01-31T21:59:00Z    24  174.336806
415            b   AAPL  174.35  ...  2022-01-31T22:00:00Z    22  174.350094
416            b   AAPL  174.32  ...  2022-01-31T22:03:00Z    35  174.320606

[417 rows x 10 columns]

In [58]:
df_unique=df.drop_duplicates(subset=['TimeStamp'])

In [60]:
df_unique['TimeStamp'] = pd.to_datetime(df_unique['TimeStamp'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.